<!-- play.html -->
<nav class="navbar navbar-inverse" style="height:100px">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand" style="color:black;font-size:40px;margin-top:20px;padding-right:0px;margin-right:5px;margin-left:10px;">MemoryMatrix</span>

    </div>
    <div>
      
    <img src="img/mat.svg" alt="grid" style="width:50;height:50;display:inline;margin-top:20px">
      <div class="pull-right" style="margin-top:32px;">
      	<span style="display:inline;font-size:20;color:black">Signed in as {{user}}</span>
        <form ng-submit="logOut();">
            <button ng-click class="btn btn-primary active" style="background-color:black;margin-left:3px">Log out</button>
        </form>
      </div>

    </div>
  </div>
</nav>

<div style="margin-left:25%;margin-right:25%;background-color:orange;opacity:1">
  <h1 style="font-size:30;color:black;text-align:center">{{message + " Lives Left: " + lives}} <i class="fa fa-heart" style="color:red;"></i> {{" Score: " + score}} <i class="fa fa-money" style="color:green"></i></h1>
</div>

<div id="square" style="position:relative;margin-left:33%;margin-right:33%;height:{{h}}px;">
<div class=row ng-repeat="i in list track by $index" style="
  margin: 0 auto;">
		<div class="flip-container" ng-repeat="j in list track by $index" 
     	ng-if="mat[i] != null" style="display:inline-block;width:{{p}};border:1px solid black;background-color:white">
      <div class="flipper" onclick="this.classList.toggle('flippedasd')">
  			<div class="front" ng-click="check(i, j);" style="height:{{p}};background-color:{{(mat[i][j] == 2)? 'red' : 'white'}}"></div>
      </div>
    </div>
</div>
</div>